@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap");

.home-lay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 0 2vw;
}

.hero-text {
  position: absolute;
  font-family: "Inria-serif";
  margin-right: 33vw;
  display: flex;
  flex-direction: column;
  margin-top: 13vw;
  align-items: center;
}

.hero-text p {
  font-size: clamp(18px, 1.5vw, 50px);
}

.hero-text h1 {
  font-size: clamp(30px, 3vw, 80px);
}

.hero-image img {
  overflow: hidden;
  border-radius: 20px;
  height: 36vw;
}

.hero-text button {
  background-color: white;
  padding: 0.2vw 1vw;
  flex-wrap: wrap;
  font-size: 1.5vw;
  margin-top: 0.5vw;
  width: fit-content;
}

.sub-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.25);
  margin-top: 1vw;
  width: 100vw;
}

.sub-items p {
  font-size: clamp(15px, 1.2vw, 40px);
  color: red;
}

.sub-items h2 {
  font-size: clamp(20px, 1.7vw, 50px);
  font-family: "Inria-serif";
  margin-top: 1vw;
}

.card-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  width: clamp(200px, 70vw, 90vw);
  padding: 2vw 0;
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.13);
}
.card-item img {
  height: clamp(150px, 27vw, 900px);
  width: clamp(200px, 20vw, 900px);
}

.card-item p {
  font-family: "Inria-serif";
  font-size: 1.5vw;
}

.card-item button {
  font-family: "Inria-serif";
  font-size: 1.5vw;
  padding: 0.2vw 1vw;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.13);
}

.bottom-banner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.bottom-banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  margin-left: 6vw;
  margin-bottom: 5vw;
}

.banner-text h2 {
  color: white;
  font-family: "Inria-serif";
  font-size: 4vw;
  line-height: 1;
  font-weight: 530;
}

.banner-text p {
  font-size: 1vw;
  color: white;
}

.banner-text button {
  color: white;
  background-color: #82b31a;
  padding: 0.5vw 1.5vw;
  font-size: 1vw;
  margin-top: 1vw;
}
